<div class="state-container" style="padding-bottom:10vh">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div style="text-align: center; margin-top: 5vh; margin-bottom: 1vh">
        <p class="h1">State: {{ stateData.stateName }}</p>
      </div>

      <div class="col col-lg-3 col-md-6 col-sm-6" *ngFor="let item of statekeyfact">
        <app-cards [item]="item"></app-cards>
      </div>

      <!-- state chart -->
      <div>
        <!-- button to select chart Type -->
        <mat-form-field style="display: flex; justify-content: flex-end">
          <mat-label>Select chart Type</mat-label>
          <mat-select [(ngModel)]="selectedValue" (selectionChange)="changeChart($event.value)">

            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- chart container -->
        <div id="container"></div>
      </div>

      <!--list of districts in state  -->
      <div class="container" style="margin-top: 5vh;">
        <div style="background-color: gray;">
          <h3 style="text-align: center;">District List</h3>
        </div>

        <div style="justify-content:center;display:flex">
          <mat-selection-list [multiple]="false" style=" text-align: center;;margin-top: -13px; width: 50%;">
            <mat-list-option style=" background-color: rgb(253,249,248);margin-bottom: 7px; background-color: white"
              routerLink="/district" *ngFor="let dist of stateData.district" [value]="dist"
              (click)="handleDistClick(dist)">
              {{ dist?.distName }}
            </mat-list-option>
          </mat-selection-list>
        </div>

      </div>


    </div>
  </div>
</div>