<div class="state-container">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div style="text-align: center; margin-top: 5vh; margin-bottom: 1vh">
        <p class="h1" style="text-align: center; font-weight: bolder">
          District: {{ distData.distName }}
        </p>
      </div>

      <div class="col col-lg-3 col-md-6 col-sm-6" *ngFor="let item of distkeyfact">
        <app-cards [item]="item"></app-cards>
      </div>

      <!-- district chart -->
      <div>
        <mat-form-field style="display: flex; justify-content: flex-end">
          <mat-label>Select Chart</mat-label>
          <mat-select aria-label="chart value" [(ngModel)]="selectedValue" (selectionChange)="changeChart($event.value)"
            aria-out>
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- chart container -->
        <div id="containerDist"></div>
      </div>
    </div>
  </div>
</div>